<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Duet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>98161B731CE3CA0500BBDC3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98161B911CE3CA0600BBDC3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98161B9C1CE3CA0600BBDC3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
